.chat {
    min-width: 400px; 
    width: 80px; 
    min-height: 500px;
    position: fixed;
    bottom: 0;
    right: 0; 
}

nav{
    position: fixed !important;
    top: 0;
    z-index: 1000 ! important;
    width: 100%;

}

