.chat {
    min-width: 400px;
    width: 80vw; 
    min-height: 500px;
    height:80vh;
    align-self: center;
    display: block;
    margin: 112px auto 0 auto;
    margin-top: 200px;
}

nav{
    position: fixed !important;
    top: 0;
    z-index: 1000 ! important;
    width: 100%;

}

.test-body{
    background: black cover no-repeat;
    background-image: url('../IMG/Livres/Test.jpg');
}

.CarouselDesign{
    margin-top: 112px;
    position: relative;
}

.carousel-item img{
    max-height:calc(100vh - 56px);
    height: 80vh;
    width: auto !important;
    margin: auto auto;
}

.carousel-inner{
    height: 80vh;
}

.index-body{
    background-image: url('../IMG/Background.jpg');
}