.chat {
    min-width: 400px;
    width: 80vw; 
    min-height: 500px;
    height:80vh;
    align-self: center;
    display: block;
    margin: 112px auto 0 auto;
}

nav{
    position: fixed !important;
    top: 0;
    z-index: 1000 ! important;
    width: 100%;

}

.test-body{
    background: black cover no-repeat;
    background-image: url('../IMG/Livres/Test.jpg');
    
}

.CarouselDesign{
    margin: 112px 0 56px 0;
    position: relative;
}

.carousel-item img{
    max-height:calc(100vh - 56px);
    height: 80vh;
    width: auto !important;
    margin: auto;
}

.carousel-inner{
    height: 80vh;
}

.index-body{
    background-image: url('../IMG/Background.jpg');
}

.footer {
  position: absolute;
  width: 100%;
  height: 220px;
}

footer {
  padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;
}

footer a {
  color: #999;
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
}

footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}

footer form>:first-child{
    margin-bottom: 10px;
}